@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --foreground: #111111;
  --color-primary: #00A651;
  --color-primary-dark: #0B3D2E;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
